# Auto detect text files and perform LF normalization
* text=auto
src/resources/staticGTFS/agency.txt filter=lfs diff=lfs merge=lfs -text
src/resources/staticGTFS/calendar_dates.txt filter=lfs diff=lfs merge=lfs -text
src/resources/staticGTFS/routes.txt filter=lfs diff=lfs merge=lfs -text
src/resources/staticGTFS/shapes.txt filter=lfs diff=lfs merge=lfs -text
src/resources/staticGTFS/stop_times.txt filter=lfs diff=lfs merge=lfs -text
src/resources/staticGTFS/stops.txt filter=lfs diff=lfs merge=lfs -text
src/resources/staticGTFS/trips.txt filter=lfs diff=lfs merge=lfs -text
target/classes/staticGTFS/stop_times.txt filter=lfs diff=lfs merge=lfs -text
